:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --header-bg: #ffffff;
  --footer-bg: #ffffff;
  --link-color: #005eff;
  --card-bg: #ffffff;
  --border-color: #e9ecef;
  --text-light: #005eff;
  --text-secondary: #000000;
  --accent-color: #e74c3c;
  --accent-hover: #c0392b;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --sidebar-bg: #ffffff;
  --catalog-bg: #f8f9fa;
  --cart-summary-bg: #f8f9fa;
  --cart-summary-text: #333;
  --btn-gradient: #5f0eff;
}

[data-theme="dark"] {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --header-bg: #111111;
  --footer-bg: #111111;
  --link-color: #5dade2;
  --card-bg: #2d2d2d;
  --border-color: #444;
  --text-light: #f0f0f0;
  --text-secondary: #888;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --sidebar-bg: #2d2d2d;
  --catalog-bg: #1e1e1e;
  --cart-summary-bg: #2d2d2d;
  --cart-summary-text: #f0f0f0;
  --btn-gradient: #5010ff;
}

/* Базовые стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat), -apple-system, BlinkMacSystemFont,
    sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.read-more {
  color: var(--link-color);
  font-weight: 500;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.logo-container {
  position: relative;
  width: 80px;
  height: 65px;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
}

.sectionSubtitle {
  text-align: center;
  color: var(--text-secondary);
  margin-bottom: 3rem;
  font-size: 1rem;
}

.footer-logo-container {
  position: relative;
  width: 150px;
  height: 150px;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}
.callbackBtn {
  background: linear-gradient(90deg, var(--link-color), var(--btn-gradient));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-style: bold;
  margin-top: 1rem;
  transition: all 0.5s ease;
  background-size: 200% auto;
  width: 100%;
  max-width: 200px;
}

.callbackBtn:hover {
  background-position: right center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Плавные переходы для всех элементов */
a,
button,
input,
.nav-link,
.footer-links a {
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.not-found-text {
  font-size: 1.5rem;
  color: var(--text-secondary);
  margin-bottom: 1rem;
}
